.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #084fbb;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.left {
    display: flex;
    align-items: center;
}
.mobile-toggle i {
    font-size: 2rem;
    color: #ffffff;
    margin-right: 20px;
    transition: 0.3s ease !important;
}
.fa-times {
    font-size: 2.5rem !important;
}
.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.passport {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.school-name {
    font-size: 1.5rem;
    margin: 0;
}
.right {
    display: flex;
    align-items: center;
}
.welcome {
    margin-right: 5px;
    font-weight: bold;
}
@media (max-width: 470px) {
    .welcome {
        display: none !important;
    }
}
.logout {
    padding: 2px 10px;
    border: none;
    background-color: #ffc107;
    columns: #000000;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.logout:hover {
    background-color: #e0a800;
}
@media (max-width: 1000px) {
    .school-name {
        display: none !important;
    }
}
@media (min-width: 1000px) {
    .mobile-toggle i {
        display: none !important;
    }
}
