.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #0d6efd;
    color: #ffffff;
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    left: 0;
    overflow-y: auto;
    /* display: flex;
    flex-direction: column; */
}
.sidebar-title {
    padding-top: 70px;
    font-size: 1.2rem;
    padding-left: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.menu li i {
    margin-right: 12px;
    width: 20px;
    text-align: center;
}
.menu li:hover {
    background-color: #0056b3;
}
@media (max-width: 1000px) {
  .sidebar {
    display: none !important;
  }
}