.home-pg {
   padding-top: 55px;
   position: fixed !important;
   right: 0;
   left: 210px;
}
.welcome-message {
  font-size: 1.1rem;
  padding-top: 8px;
}
@media (max-width: 1000px) {
  .main-content {
    left: 0 !important;
  }
  .home-pg {
   padding-top: 55px;
   position: fixed !important;
   right: 0;
   left: 0;
}
  .welcome-message {
    font-size: .8rem;
  }
  .clock-date {
    padding: 5px !important;
  }
}
@media (max-width: 350px) {
    .clock-date {
      font-size: .85rem !important;
      padding-top: 10px !important;
    }
}
@media (max-width: 470px) {
  .welcome-message {
    display: none !important;
  }
}
.stat-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px -10px rgba(0, 0, 0, 0.6);
}
.stat-icon {
  font-size: 32px;
  color: #0d6efd;
  margin-bottom: 10px;
}