@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}